<!DOCTYPE html>
<html>
  <head>
    <title>Oldschool Chatroom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>

    <%= render 'layouts/flashes' %>

    <div class="container <%= controller_full_name %> <%= action_name %>"><%= yield %></div>
  </body>
</html>
